# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mybatis_code\mybatis_quickstart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
